$background-color: #333;
$drop-head-hover-background-color: #ff4d4d;
$drop-content-background-color: #f9f9f9;
$drop-content-box-shadow-color: rgba(0,0,0,0.2);
$drop-content-a-hover-background-color: #f1f1f1;

.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $background-color;
    li {
        float: left;
    }
    .main-nav-personal {
        float:right;
    }
}

.main-nav-drop-head {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-nav-drop-head:hover {
    background-color: $drop-head-hover-background-color;
}

.main-nav-drop {
    display: inline-block;
}

.main-nav-drop:hover {
    .main-nav-drop-head {
        background-color: $drop-head-hover-background-color;
    }
    .main-nav-drop-content {
        display: block;
    }
}

.main-nav-drop-content {
    display: none;
    position: absolute;
    background-color: $drop-content-background-color;
    box-shadow: 0px 8px 16px 0px $drop-content-box-shadow-color;
    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    a:hover {
        background-color: $drop-content-a-hover-background-color;
    }
}

.main-nav-flip-head {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    width: 139px;
}

.main-nav-flip-head:hover {
    background-color: $drop-content-a-hover-background-color;
}

.main-nav-flip {
    display: inline-block;
}

.main-nav-flip:hover {
    .main-nav-flip-head {
        background-color: $drop-content-a-hover-background-color;
    }
    .main-nav-flip-content {
        display: block;
    }
}

.main-nav-flip-content {
    display: none;
    position: absolute;
    top: 175px;
    left: 175px;
    //z-index: -1;
    background-color: $drop-content-background-color;
    box-shadow: 0px 8px 16px 0px $drop-content-box-shadow-color;
    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    a:hover {
        background-color: $drop-content-a-hover-background-color;
    }
}
