$profile-photo-dimension: 300px;

#profile-photo-wrapper:hover {
    #upload_profile_photo {
        display:block;
    }
}

#profile-photo-wrapper{
    #upload_profile_photo {
        display:none;
    }
}

#profile_photo {
    border: 2px solid black;
    height: $profile-photo-dimension;
    width: $profile-photo-dimension;
}

#profile_photo:hover {
    //border-color: #f1f1f1;
}

#upload_profile_photo {
    padding-top: $profile-photo-dimension - 32;
    text-align: center;
    width: $profile-photo-dimension;
    position: absolute;
}

#upload_profile_photo_link {
    font-size: 19px;
    text-decoration: none;
    color: rgba(white, 0.5);
    background-color: rgba(#333, 0.5);
    padding: 14px 19px;
}

#upload_profile_photo_link:hover {
    color: white;
    background-color: #ff4d4d;
}

#public_info {

}

#payment_dates {

}

.profile-card {
    //background-color: #f1f1f1;
    background-image: url("media/card-background.jpg");
    padding: 21px 21px 9px 21px;
    max-width: 386px;
    border: none;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

#change-email {
    display: none;
    position: absolute;
    left: 250px;
    top: 300px;
}
