.blog-post {
    padding-left: 2px;
    padding-right: 2px;
    hr {
        border: 0;
        border-bottom: 1.5px solid black;
    }
}

.blog-post-individual {
    @extend .blog-post;
    padding-left: 8px;
    padding-right: 8px;
}
