$max-page-width: 1050px;
$sidebar-max-width: 250px;
$fieldset-border-width: 2px;
$fieldset-border-color: #333;

form.login {
    margin: inherit;
    max-width: 550px;
}

div.form-row {
    clear: both;
    padding: 10px;
    span.form-label {
        float: left;
        width: 150px;
        text-align: right;
    }
    span.form-input {
        float: right;
        width: 340px;
        text-align: left;
    }
}

fieldset {
    //background-color: #f1f1f1;
    background-image: url("media/card-background.jpg");
    padding-top: 0px;
    max-width: 386px;
    border: none; //$fieldset-border-width solid $fieldset-border-color;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

fieldset.centered-fieldset {
    position: relative;
    left: 64px;
    z-index: inherit;
}

fieldset.no-style {
    //background-color: #f1f1f1;
    background-image: none;
    padding-top: auto;
    max-width: auto;
    border: none;
    box-shadow: none;
}

fieldset#write-blog-post {
    left: 205px;
}

article {
    display: inline-block;
    max-width: 750px;
    position: relative;
    left: 30px;
    padding-left: 10px;
    padding-right: 10px
}

legend {
    background-color: #f1f1f1;
    //border: $fieldset-border-width solid $fieldset-border-color;
    //border-color: black;
}

.nowidth {
    display: inline-block;
    //padding: 24px;
    width: 190px;
    overflow: hidden;
}

.textbox,
.comments {
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    //border: $fieldset-border-width solid $fieldset-border-color;
    width: 162px;
}

textarea {
    min-width: 358px;
    max-width: 358px;
    max-height: 200px;
    overflow: scroll;
}

textarea.wide {
    min-width: 500px;
    max-width: 500px;
    min-height: 9em;
    max-height: 14em;
    overflow: scroll;
}

.submit-button, .cancel-button {
    display: inline-block;
    text-decoration: none;
    border:none;
    font-size: 19px;
    font-family: "font-body", Verdana, sans-serif;
    padding: 14px 16px;
    color: white;
    background-color: #333;
}

.submit-button:hover, .cancel-button:hover {
    background-color: #ff4d4d;
}

.required-is-empty {
    border: 2px solid rgba(255,0,0,0.65);
}
