.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; }
  .main-nav li {
    float: left; }
  .main-nav .main-nav-personal {
    float: right; }

.main-nav-drop-head {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

.main-nav-drop-head:hover {
  background-color: #ff4d4d; }

.main-nav-drop {
  display: inline-block; }

.main-nav-drop:hover .main-nav-drop-head {
  background-color: #ff4d4d; }
.main-nav-drop:hover .main-nav-drop-content {
  display: block; }

.main-nav-drop-content {
  min-width: 140px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
  .main-nav-drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; }
  .main-nav-drop-content a:hover {
    background-color: #f1f1f1; }

.main-nav-flip-head {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  width: 139px; }

.main-nav-flip-head:hover {
  background-color: #f1f1f1; }

.main-nav-flip {
  display: inline-block; }

.main-nav-flip:hover .main-nav-flip-head {
  background-color: #f1f1f1; }
.main-nav-flip:hover .main-nav-flip-content {
  display: block; }

.main-nav-flip-content {
  display: none;
  position: absolute;
  top: 175px;
  left: 175px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
  .main-nav-flip-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; }
  .main-nav-flip-content a:hover {
    background-color: #f1f1f1; }

.blog-post, .blog-post-individual {
  padding-left: 2px;
  padding-right: 2px; }
  .blog-post hr, .blog-post-individual hr {
    border: 0;
    border-bottom: 1.5px solid black; }

.blog-post-individual {
  padding-left: 8px;
  padding-right: 8px; }

table.static-data th, table.static-data td {
  padding: 8px;
  text-align: left; }

table.dynamic-data {
  border: 2px solid black;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); }
  table.dynamic-data th, table.dynamic-data td {
    padding: 8px;
    text-align: left;
    border: none; }
  table.dynamic-data td {
    border-top: 2px solid black; }
  table.dynamic-data tr {
    border-left: 2px solid black; }

form.login {
  margin: inherit;
  max-width: 550px; }

div.form-row {
  clear: both;
  padding: 10px; }
  div.form-row span.form-label {
    float: left;
    width: 150px;
    text-align: right; }
  div.form-row span.form-input {
    float: right;
    width: 340px;
    text-align: left; }

fieldset {
  background-color: #f1f1f1;
  padding-top: 0px;
  max-width: 386px;
  border: none;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); }

fieldset.centered-fieldset {
  position: relative;
  left: 64px;
  z-index: inherit; }

fieldset#write-blog-post {
  left: 205px; }

article {
  display: inline-block;
  max-width: 750px;
  position: relative;
  left: 30px;
  padding-left: 10px;
  padding-right: 10px; }

legend {
  background-color: #f1f1f1; }

.nowidth {
  display: inline-block;
  width: 190px;
  overflow: hidden; }

.textbox,
.comments {
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  width: 162px; }

textarea {
  min-width: 358px;
  max-width: 358px;
  max-height: 200px;
  overflow: scroll; }

.submit-button {
  display: inline-block;
  text-decoration: none;
  border: none;
  font-size: 19px;
  font-family: "font-body", Verdana, sans-serif;
  padding: 14px 16px;
  color: white;
  background-color: #333; }

.submit-button:hover {
  background-color: #ff4d4d; }

.required-is-empty {
  border: 2px solid rgba(255, 0, 0, 0.65); }

#profile_photo {
  border: 1px solid black;
  height: 300px;
  width: 300px; }

#upload_profile_photo {
  position: absolute; }

@font-face {
  font-family: "font-body";
  src: url("/fonts/TW Cen MT.ttf"); }
@font-face {
  font-family: "font-title";
  src: url("/fonts/Cochin.ttc"); }
body {
  font-family: "font-body", Verdana, sans-serif;
  font-size: 19px;
  color: #333; }
  body h1 {
    font-size: 33px;
    font-family: "font-title", Times, serif;
    margin-top: 0px; }

header {
  margin: auto;
  max-width: 1050px; }

footer {
  padding-top: 64px;
  padding-bottom: 16px;
  margin: auto;
  max-width: 1050px;
  text-align: center; }

nav {
  position: relative;
  z-index: 1000; }

#banner-img {
  padding-left: 50px;
  width: 950px;
  height: 375px; }

#site-title {
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 42px;
  text-align: center; }

#welcome {
  display: block;
  color: white;
  text-align: center;
  float: right;
  padding: 14px 16px;
  text-decoration: none; }

.container {
  padding-top: 20px;
  margin: auto;
  max-width: 1050px;
  min-height: 539px; }

.main-sidebar {
  max-width: 250px;
  display: inline-block;
  padding-left: 4px;
  padding-right: 8px;
  float: left;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); }

#main-sidebar-title {
  padding-top: 6px; }

#main-sidebar-items {
  padding: 0px 6px 6px 6px; }

.focus-content {
  width: 750px;
  display: inline-block;
  padding-left: 12px;
  padding-right: 4px; }

.clean-button {
  border-style: none;
  border-width: 1px;
  padding: 4px;
  text-decoration: none;
  color: black;
  background-color: #f9f9f9;
  display: block; }

.clean-button:hover {
  background-color: #f1f1f1; }

.centered-title {
  text-align: center; }

.contact-photo {
  max-width: 300px;
  max-height: 300px;
  border: 1px solid black; }

/*# sourceMappingURL=gtmn_standard.css.map */
