@font-face {
	font-family : LeagueGothic;
	src: url(fonts/LeagueGothic-Regular.otf);
}

@font-face {
	font-family : OpenSans;
	src: url(fonts/OpenSans-Regular.ttf);
}

body {
	background-color : #001D39;
	font-family : OpenSans, Verdana, Sans-serif;
	font-size : 1em;
	color : #FFFFD6;
}

article {
	color : #FFFFD6;
	background-color : #2E5C8A;
	font-family : OpenSans, Verdana, Sans-serif;
	font-size : 1em;
	border-radius : 10px;
	border : 1px solid #000000;
    padding : 1px 8px;
	max-width : 800px;
	text-align : left;
	margin : auto;
}

footer {
	text-align : center;
}

header {
	text-align : center;
}

form {
	color : #FFFFD6;
	background-color : #2E5C8A;
	font-family : OpenSans, Verdana, Sans-serif;
	font-size : 1em;
	border : 1px solid #000000;
	padding : 2px 5px 8px;
	max-width : 850px;
	text-align : left;
	margin : auto;
}

label {
	text-align : left;
	float : left;
	width : 150px;
}

label.nowidth {
	text-align : left;
	float : left;
	width : auto;
}

input.textbox {
	width : 225px;
	float : left;
}

fieldset p {
	clear : both;
	padding : 5px;
}

fieldset p.subform {
	padding : 5px 25px;
}

header h1 {
	color : #FFFFD6;
	font-family : LeagueGothic, Verdana, Sans-serif;
	font-size : 4em;
}

nav {
	color : #FFFFD6;
	font-family : OpenSans, Verdana, Sans-serif;
	font-size : 1em;
}

div.container {
	margin-left : auto;
	margin-right : auto;
	max-width : 1000px;
}

div.primary {
	overflow : auto;
}

div.pagenav {
	text-align : center;
}

aside {
	color : #FFFFD6;
	background-color : #2E5C8A;
	font-family : OpenSans, Verdana, Sans-serif;
	font-size : 1em;
	border-radius : 10px;
	border : 1px solid #000000;
    padding : 1px 8px;
	max-width : 200px;
	text-align : left;
	margin : auto;
	float : left;
}

div.prev {
	float : left;
}

div.next {
	float : right;
}

a {
	text-decoration : none;
}

a:link {
	color : #E6E6E6;
}

a:visited {
	color : #8E8E8E;
}

a:active {
	color : #6B6B6B;
}

a:hover {
	color : #6B6B6B;
}

td {
	padding : 0.65em;
}

ul.admin_sidebar {
	list-style: none outside none;
	text-align: left;
}

ul.mainnav {
	text-align: left;
	display: inline;
	list-style: none;
	border : 1px solid #000000;
	padding: 8px 4px 8px 1px;
}

ul.mainnav li {
	display: inline-block;
	margin-right: -4px;
	margin-left: -1px;
	position: relative;
	padding: 8px 8px;
	color : #FFFFD6;
	background-color : #2E5C8A;
	cursor: pointer;
	transition: all 0.2s;
}

ul.mainnav li:hover {
	color : #FFFFD6;
	background-color : #6D8DAD;
}

ul.subnav {
	padding: 0;
	position: absolute;
	top: 38px;
	left: 0;
	width: 150px;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s;
}

ul.subnav li {
	background: #1C3753;
	display: block;
	color: #FFFFD6;
	font-size : 0.75em;
}

ul.subnav li:hover {
	background: #607387;
}

li:hover ul.subnav {
	display: block;
	opacity: 1;
	visibility: visible;
}

img {
	max-width : 350px;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #FFFFFF;
}

td {
    text-align: left;
}
